*{
    margin: 0;
    padding: 0;
}

body{
    color: #331B3B;
    font-family: 'Hind Vadora', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/* Header */

.header{
    width: 1920px;
    height: 848px;
}

/* Header__nav */

.header__nav{
    display: flex;
    margin: 47px auto;
    align-items: center;
    justify-content: space-between;
    width: 1308.19px;
    height: 50px;
}

.header__nav__links{
    width: 352px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.header__nav__links__link{
    line-height: 23.97px;
    letter-spacing: .01em;
}

.header__nav__society{
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.header__nav__society__circle{
    display: flex;
    width: 43.61px;
    height: 49.61px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid rgba(51, 27, 59, 0.64);
    transform: rotate(30.5deg);
    justify-content: center;
    align-items: center;
}

.header__nav__society__circle img{
    transform: rotate(-30.5deg);
}

#header__nav__society__circle__facebook{
    width: 10px;
    height: 20px;
}

#header__nav__society__circle__in{
    width: 18px;
    height: 18px;
}

#header__nav__society__circle__instagram{
    width: 24px;
    height: 24px;
}

#header__nav__logo{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: .01em;
    height: 36px;
}

/* Header__content */

.header__content{
    width: 1308.19px;
    height: 629.17px;
    margin: 0 auto;
    display: flex;
}

.header__content__start{
    width: 517px;
    height: 482px;
    margin-top: 141.75px;
}

.header__content__eclipses{
    width: 731px;
    height: 629.17px;
    margin: 21.58px 0 0 86px;
}

#header__content__eclipses__dotted__eclipse{
    width: 581px;
    height: 498px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px dashed #000000;
    margin-top: 89.17px;
}

#header__content__eclipses__bg{
    position: absolute;
    width: 444px;
    height: 629.17px;
    margin-left: 143px;
    z-index: 0;
}

#header__content__eclipses__guys{
    position: absolute;
    width: 721px;
    height: 519.01px;
    background: url("images/two_guys.png");
    background-size: cover;
    clip-path: url("#images__mask");
    z-index: 1;
    margin: 56.16px 0 0 10px;
}

#header__content__start__title{
    position: relative;
    width: 511px;
    height: 261px;
    font-weight: 300;
    font-size: 87px;
    line-height: 86.83px;
    letter-spacing: -.01em;
    z-index: 1;
}

#header__content__start__title__big{
    font-weight: 700;
}

#header__content__start__underline{
    position: relative;
    bottom: 42px;
    z-index: 0;
    width: 291px;
    border: 20px solid #05C19C;
}

#header__content__start__text{
    position: relative;
    bottom: 42px;
    width: 515px;
    letter-spacing: .02em;
    font-size: 17px;
    line-height: 24.87px;
    color: rgba(51, 27, 59, .66);
    margin-top: 27px;
}

#header__content__start__getstart{
    position: relative;
    bottom: 42px;
    width: 207px;
    height: 66px;
    background: #331B3B;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: #FFFF;
    font-size: 17px;
    line-height: 23.34px;
    letter-spacing: .02em;
    margin-top: 53px;
}

/* Slider */

.slider{
    width: 1400px;
    height: 578px;
    margin: 0 auto;
}

.slider__bg{
    width: 1293px;
    height: 578px;
    background: #65FBD2;
    border-radius: 0 400px 0 0;
    position: absolute;
    z-index: 1;
}

#slider__header__underline{
    width: 159px;
    border: 10px solid #05C19C;
    margin-left: 721px;
    position: relative;
    bottom: 20px;
    z-index: 0;
}

#slider__header__big{
    position: relative;
    width: 390px;
    height: 102px;
    font-weight: 700;
    font-size: 48px;
    line-height: 51px;
    letter-spacing: -.01em;
    text-align: center;
    margin-left: 520px;
    padding-top: 102px;
    z-index: 1;
}

#slider__header__small{
    font-weight: 300;
}

/* Slider__content */

.slider__content{
    position: relative;
    bottom: 20px;
    width: 1479px;
    height: 192px;
    margin: 95px 0 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slider__content__arrows{
    display: flex;
    justify-content: space-between;
    width: 85px;
    height: 34px;
}

.slider__content__arrows__arrow{
    display: flex;
    align-items: center;
    width: 35px;
    height: 34px;
    border: 2px solid black;
    border-radius: 50%;
}

.slider__content__arrows__img{
    width: 10px;
    height: 16px;
}

.left__arrow{
    opacity: .33;
}

.right__img{
    margin-left: 15px;
}

.left__img{
    transform: rotate(180deg);
    margin-left: 10px;
}

.slider__content__block{
    width: 308px;
    height: 192px;
    background: #FFFF;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.slider__content__block__image{
    width: 52px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0 0 19px;
    border-radius: 10px;
}

.slider__content__block__title{
    font-weight: 700;
    line-height: 21.97px;
    letter-spacing: 0.055em;
    margin: 13px 0 0 19px;
    text-transform: uppercase;
    font-size: 16px;
}

.slider__content__block__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 21.79px;
    letter-spacing: .02em;
    opacity: .66;
    width: 275px;
    margin: 6px 0 0 17px;
}

.mobile__block{
    background: #65FBD2;
}

.slider__dotted__circle{
    width: 532px;
    height: 498px;
    border: 2px dashed rgba(0, 0, 0, .26);
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    left: 916px;
    top: 164px;
    z-index: 0;
}

#slider__content__block__image__internet{
    width: 30px;
    height: 30px;
}

#slider__content__block__image__develop{
    width: 34px;
    height: 34px;
}

#slider__content__block__image__mobile{
    width: 23.41px;
    height: 35.45px;
}

#slider__content__block__image__rocket{
    width: 36px;
    height: 36px;
}

/* About_us */

.about_us{
    width: 1411.04px;
    height: 852.73px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47.24px;
}

/* About_us__images */

.about_us__images{
    width: 832px;
    height: 852.73px;
    display: flex;
    align-items: center;
}

#abouts_us__images__dotted_circle{
    position: absolute;
    width: 604px;
    height: 598px;
    border-radius: 50%;
    border: 2px dashed #000000;
    box-sizing: border-box;
    margin-left: 77px;
}

#about_us__images__bob{
    position: absolute;
    width: 665px;
    height: 593px;
    margin-left: 70.04px;
}

#about_us__images__young{
    position: absolute;
    width: 659.95px;
    height: 605.92px;
    background: url("images/group_childrens.png") no-repeat;
    background-size: cover;
    margin: 70px 0 0 90px;
    clip-path: url('#about_us__images__young__mask');
}

/* About_us__text */

.about_us__text{
    width: 517px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_us__text p{
    position: relative;
    bottom: 17px;
    width: 515px;
    height: 82px;
    font-size: 17px;
    line-height: 24.87px;
    letter-spacing: .02em;
    color: rgba(51, 27, 59, .66);
}

#about_us__text__first_text{
    margin-top: 21px;
}

#about_us__text__second_text{
    margin-top: 10px;
}

#about_us__text__title{
    width: 269px;
    height: 102px;
    font-weight: 700;
    font-size: 48px;
    line-height: 51.02px;
    letter-spacing: -.01em;
    z-index: 1;
}

#about_us__text__title__underline{
    position: relative;
    bottom: 17px;
    left: 171px;
    width: 85px;
    border: 7px solid #05C19C;
    z-index: 0;
}

#about_us__text__title__small{
    font-weight: 300;
}

#about_us__text__explore_more{
    position: relative;
    bottom: 17px;
    width: 207px;
    height: 66px;
    background: #331B3B;
    color: #FFFF;
    font-weight: 700;
    font-size: 17px;
    line-height: 23.34px;
    letter-spacing: .02em;
    border-radius: 10px;
    margin-top: 37px;
    border: none;
    text-transform: uppercase;
}